.line-style {
    height: 60px;
  }

  #top-style{
    background-image: url(images/logo_w.png);
    width: 200px;
    height: 40px;
    overflow: hidden;  /*overflow는 요소내 컨텐츠가 너무 커서 보여주기 힘들때 사용, -> 넘치는 부분 잘려서 보여지지X*/
    position: fixed;
    top: 55px;
    right: 38%;
  }


  .home-image {
    background-image: url(images/home.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 37px;
    display: inline-block;
    position: fixed;
    top: 55px;
    right: 9%;
    font-size: 0;
}

.block {
    float: right;
    margin: 3px 7px;
    font-size : 30px;
    position: fixed;
    top: 48px;
    right: 8%;
}

#font-style {
    display: block;
    font-size: 26px;
    color: #666666;
    font-weight: 500;
    position: fixed;
    top: 55px;
    right: 2%;
}
  /*#middle-style{
    border: 3px solid  #cc2222; 
    border-top :100%;
    border-right : 100%;
    border-bottom : 100%;
    border-left : 100%;

  }
*/
  #recipe-image {
    width: 35%;
    height: 20%;
    position: fixed;
    top: 20%;
    left: 7%;
  }

  #today-image {
    width: 35%;
    height: 20%;;
    position: fixed;
    top: 20%;
    right: 11%;
  }

  #all-image {
    width: 35%;
    height: 20%;
    position: fixed;
    top: 52%;
    right: 35%;
  }